{{!-- Ftp列表模板 --}}
<div class="">
  {{!-- 目录导航 --}}
  <div>
    <ul class="breadcrumb">
      {{#each dirs}}
      {{#if @first}}<a href='#' class="path" data-index="0"><i class="fa fa-home"></i> </a>{{/if}}
      {{#if @last}}
      <li class="active">{{this}}</li>
      {{else}}
      <li><a href="#" data-index="{{@index}}" class="path">{{this}}</a></li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

  {{!-- 操作栏 --}}
  <div style="margin-bottom:20px; line-height: 2;">
    <span class="btn btn-xs btn-warning back" style="margin-right: 10px;">
      <i class="fa fa-arrow-left"></i> 返回上一级
    </span>
    <span class="btn btn-xs btn-warning refresh" style="margin-right: 10px;">
      <i class="fa fa-refresh"></i> 刷新文件夹
    </span>
    <span class="btn btn-xs btn-warning mkdir" style="margin-right: 10px;">
      <i class="fa fa-folder"></i> 新建目录
    </span>
    <span class="btn btn-xs btn-warning newFile" style="margin-right: 10px;">
      <i class="fa fa-file"></i> 新建文件
    </span>
    <span id="fileselector">
      <form id='uplodadfileform' style="display:inline">
        <label class="btn btn-default btn-xs btn-warning" for="upload-file-selector">
          <input id="upload-file-selector" type="file" name='file' multiple>
          <i class="fa fa-upload"></i> 上传文件
        </label>
        <input type='hidden' name='dir' value='{{dir}}' />
      </form>
    </span>
    <span class="btn btn-xs btn-warning paste disabled" style="margin-right: 10px;">
      <i class="fa fa-paste"></i> 粘贴文件
    </span>
    <label class='label label-info' style='color:black; padding: 4px 8px'>
      {{size_info.file}} 个文件和 {{size_info.dir}} 个文件夹
    </label>
  </div>

  {{!-- 文件列表 --}}
  <div style='overflow-x:scroll'>
    <table class="table striped" {{#if isMobile}}style='width:800px' {{/if}}>
      {{!-- 表头 --}}
      <thead>
        <th>名称</th>
        <th>类型</th>
        <th>大小</th>
        <th>修改时间</th>
        <th>操作栏</th>
        </tr>
      </thead>
      {{!-- 表格主体 --}}
      <tbody>
        {{#each ftpdirlist}}
        <tr class="list-row" data-type="{{#when type 'eq' 'Directory'}}folder{{else}}file{{/when}}" data-name='{{name}}'>
          {{!-- 名称 --}}
          <td width='300px' class="name">
            <span class="list" style="cursor: pointer;"
              data-type="{{#when type 'eq' 'Directory'}}folder{{else}}file{{/when}}" data-name='{{name}}'>
              {{!-- 图标 --}}
              <span>
                <i class="fa {{#when type 'eq' 'Directory'}} fa-folder {{else}} {{#fileIcon name}} {{/fileIcon}} {{/when}} "
                  aria-hidden="true" {{#when type 'eq' 'Directory' }}style='color:#54b2ef' {{/when}}></i>
              </span>
              {{!-- 名称 --}}
              <a href="#">
                {{name}}
              </a>
            </span>
          </td>
          {{!-- 类型 --}}
          <td width='100px' class="type">{{type}}</td>
          {{!-- 大小 --}}
          <td width='100px' class="size">{{#humanFileSize size}}{{/humanFileSize}}</td>
          {{!-- 修改时间 --}}
          <td width='200px' class="time">{{#formattedDate time}}{{/formattedDate}}</td>
          {{!-- 操作栏 --}}
          <td width='200px' class="operate">
            <input type='button' class="btn btn-xs action" style="margin-right: 10px;" value="重命名" data-action='rename'
              data-name='{{name}}' />
            <input type='button' class="btn btn-xs btn-danger delete" style="margin-right: 5px;" value="删除"
              data-type="{{#when type 'eq' 'Directory'}}folder{{else}}file{{/when}}" data-name='{{name}}' />
            {{#when type 'eq' 'File'}}
            <span>
              <a href='#' class="btn btn-xs action" data-action='download' data-name='{{name}}'>
                下载
              </a>
            </span>
            {{/when}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{!-- 右键菜单 --}}
  <div id="menu">
    <ul></ul>
  </div>
</div>